# Cleaned from the repo's requirements.txt for install.
# - Removed malformed local entry "paad_rl.egg==info" (that's a local *.egg-info dir, not a PyPI pkg).
# - gym==0.21.0 is the fragile one: needs setuptools<66 + wheel, and Atari ROMs installed separately
#   (e.g. `pip install "autorom[accept-rom-license]"` then `AutoROM --accept-license`, or
#   `pip install ale-py` + `ale-import-roms`). Install gym AFTER setuptools/wheel are pinned.
appdirs==1.4.4
denoising_diffusion_pytorch==1.5.4
gym==0.21.0
gymnasium==0.29.1
hydra-core==1.3.2
matplotlib==3.5.1
numpy==1.22.3
omegaconf==2.3.0
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
packaging==21.3
Pillow==12.0.0
pygame==2.6.1
pygit2==1.19.0
pytest==9.0.0
pytorch_pretrained_bert==0.6.2
query==0.1.4
scikit_learn==1.1.2
scipy==1.16.3
setuptools==42.0.0
torch==2.0.1
torcheval==0.0.7
torchvision==0.15.2
tqdm==4.64.0
ultralytics_thop==2.0.14
wandb==0.22.3
